[Unit]
Description=Set HP Tracerled device colors
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hp-tracerled --color=FD4001 --mode=static --speed=1
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
